.App {
  text-align: center;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "side_bar main_card";
  height: 100vh;
}

.adding-margin {
  margin: 30px;
}

.save-button{
  background-color: blue;
}
.fh-pic{
  width: 50%;

}
span{
  display: inline-block;
}
.readmore{
  font-size: 40px;
}
.details{
  font-size: 20px;
}
.cards-title{
  font-size: 18px;
}
.navbar{
  background-color: greenyellow;
}