.App {
  text-align: center;
  background: white;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "side_bar main_card";
  height: 100vh;
}

.adding-margin {
  margin: 30px;
}

.save-button{
  background-color: blue;
}